services:
  frontend:
    build: './bank-frontend'
    image: bank-frontend:1.0
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
   

  backend:
    build: './bank-backend'
    image: bank-backend:1.0
    container_name: backend
    ports:
      - "4000:4000"
    env_file:
      - ./bank-backend/app/.env
    depends_on:
      - mongo
  
  mongo:
    image: mongo:7
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:


